.darkBG {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: absolute;
}

.navbarcontainer {
    background-color: white;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.topic {
    display: flex;
    align-items: center;
}

.topic>.backbtn {
    aspect-ratio: 1;
    height: 0.7em;
    margin-right: 1em;
}

.topic>.topicname {
    font-size: 1.2em;
}

.savebtn{
    width: 10vw;
}

.bold {
    font-weight: 600;
}