.table {
    margin: 2em;
}

.rowcontent {
    height: 2.5em;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.6em;
    border: 1px, solid, grey;
}

.header {
    background-color: rgb(219, 235, 251);
}

.checkandname {
    display: flex;
    width: 45vw;
}

.checkbox {
    border: none;
    outline: none;
    margin-right: 1em;
    width: 1em;
}

.packages {
    margin-left: 1em;
}

.rate {
    width: 25vw;
}

.total {
    width: 25vw;
}

.expander {
    height: 1.5vh;
    content: "";
    width: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.packages,
.rate,
.total {
    font-weight: 500;
}

.civil {
    border: 0.5px solid lightgrey;
    border-top: none;
}

.activity>.rowcontent>.checkandname {
    width: 42vw;
    margin-left: 3vw;
}

.work>.rowcontent>.checkandname {
    width: 39vw;
    margin-left: 6vw;
}

.bold {
    font-weight: 600;
}